In [1]:
Task:1

In [2]:
Age=int(input("Enter your age:"))
if Age>=18:
    print("You are eligible to voat")
else:
    print("You are not eligible to voat")

Enter your age: 17

You are not eligible to voat

In [3]:
Task:2

In [4]:
Marks=float(input("Enter your Score:"))
if Marks>=90:
    print("The Grade is A+")
elif Marks>=80:
    print("The Grade is B")
elif Marks>=70:
    print("The Grade is C")
elif Marks>=60:
    print("The Grade is D")
elif Marks<60:
    print("The Grade is F")

Enter your Score: 76

The Grade is C

In [5]:
Task:3

In [6]:
Income=float(input("Enter your income:"))
if Income<50000:
    amount_tax=50000*0.1
    print(amount_tax)
else:
    amount_tax=50000*0.2
    print(amount_tax)

Enter your income: 56000

10000.0

In [7]:
Task:4

In [8]:
Year=int(input("Enter your year:"))
if Year%4==0:
    print("Leap year")
else:
    print("Not leap year")

Enter your year: 36

Leap year

In [9]:
Task:5

In [10]:
Num_1=int(input("Enter your first number:"))
Num_2=int(input("Enter your second number:"))
if Num_1>Num_2:
    print("Num_1 is maximum than Num_2")
else:
    print("Num_2 is maximum than Num_1")

Enter your first number: 60
Enter your second number: 70

Num_2 is maximum than Num_1

In [11]:
Task:6

In [12]:
Num=int(input("Enter your number:"))
if Num%2==0:
    print("Number is even")
else:
    print("Number is odd")

Enter your number: 8

Number is even

In [13]:
Task:7

In [14]:
Num=int(input("Enter your number:"))
if Num>0:
    print("Number is positive")
elif Num<0:
    print("Number is negative")
else:
    print("Number is zero")

Enter your number: -6

Number is negative

In [15]:
Task:8

In [16]:
purchase_amount=float(input("Enter your purchase amount:"))
if purchase_amount>1000:
    discount_amount=1000*0.1
    print(discount_amount)
else:
    print(purchase_amount)

Enter your purchase amount: 1000

1000.0

In [17]:
Task:9

In [18]:
Attendance=int(input("Enter your attendance:"))
if Attendance>=75:
    print("Eligible to sit for exam")
else:
    print("Not eligible to sit for exam")

Enter your attendance: 74

Not eligible to sit for exam

In [19]:
Task:10

In [30]:
choose=1
choose=2
choose=(input("Enter your choose:"))
temp=float(input("Enter your Tempreture:"))
if choose==1:
    F=(temp*(9/5))+32
    print("Converted Temp into Celcius to Fahrenheit:",F)
else:
    C=(temp-32)*5/9
    print("Converted Temp into Fahrenheit to Celcius:",C)

Enter your choose: 1
Enter your Tempreture: 32

Converted Temp into Fahrenheit to Celcius: 0.0